<h1>Receitas</h1>

<div class="recipes-container">
</div>

<div class="recipes">

	<% @recipes.each do |recipe| %>
		<div class="recipe">
		<%= image_tag "bg_welcome2.jpg", id: "recipe-picture" %>
			<h1><%= link_to "#{recipe.title}", recipe_path(recipe.id) %></h1>
			<p>
				<%= recipe.description.first(150) %>
			</p>
		</div>
	<% end %>



		

</div>