<div class="recipes-container">
</div>

<div class="recipe-bg">
</div>

<h1>Bolinho doce</h1>

<%= image_tag "bg_welcome2.jpg", id: "recipe-picture", class: "recipe-picture" %>

<p>
	Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce Descris~ao basica do bolinho doce 
</p>
<br>

<div class="recipe-instructions">

	<ul>
		<li id="recipe-steps" onclick="show_ingredients();">INGREDIENTES</li>
		<li id="recipe-steps" onclick="show_preparation();">MODO DE PREPARO</li>
	</ul>

	<div class="recipe-ingredients" id="recipe-ingredients">
		<ul>
			<li id="recipe-ingredient">colheres de Açucar - 2x</li>
			<li id="recipe-ingredient">Agua - 500ml</li>
			<li id="recipe-ingredient">Chocolate - 300g</li>
			<li id="recipe-ingredient">Fermento - 50g</li>
			<li id="recipe-ingredient">Chantili - a gosto</li>
		</ul>	
	</div>

	<div class="recipe-preparation" id="recipe-preparation" >
		<pre>
Coloque todos os ingredientes em uma tigeja e misture-os ate' formar uma pasta cremosa.
Adicione a massa em pequenos recipientes e levo-os a geladeira por 8h, a massa ficara' mais densa e tambem com uma cor 
mais escura.

Apos, voce podera servir de diversas maneiras, sendo com chatili entre dois bolinhos, com cereja, leite condensado, granulado, 
confete ou com bolo e sorvete.
		</pre>
	</div>	

</div>
