<div class="welcome-container">

  <nav class="welcome-nav">
    <ul>
      <li>Login</li>
      <li>Cadastro</li>
      <li>Receitas</li>
    </ul>
  </nav>

  <h1>Tudo Cozinha</h1>
  <p>sua coleção de sabores</p>

  <a href="#">
    <%= image_tag "down_arrow.png", class: "welcome-arrow" %>
  </a>

</div>